body {
  background-color: black;
  font-family: "Sora", "Calibri", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: #64c1ff;
}

input {
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.button {
  position: absolute;
  width: 5vw;
  height: 5vw;
  min-width: 50px;
  min-height: 50px;
  background-color: white;
  background-size: cover;
  border-radius: 20%;
  margin: 10px;
  cursor: pointer;
}

.button-text {
  position: relative;
  background-color: white;
  color: black;
  /* font-size: 30px; */
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;
  padding: 15px;
  margin: 20px;
  cursor: pointer;
  text-align: center;
  min-width: 50px;
}

.hide {
  display: none;
}

.smallText {
  font-size: smaller;
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

.button-text-small {
  font-size: small;
}

.button-pulse {
  animation: radial-pulse 1s infinite;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0vw white;
  }

  100% {
    box-shadow: 0 0 0 2vw rgba(255, 100, 100, 0);
  }
}

.button-doc {
  top: 2vw;
  left: 2vw;
  background-image: url(ui/doc.svg);
  display: flex;
  align-items: center;
}

.indice-alert {
  position: absolute;
  top: 2vw;
  left: 2vw;
  font-size: small;
  white-space: nowrap;
  opacity: 0;
}

.indice-slide {
  height: 5vw;
  min-height: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  animation: slideout 1s ease-out 0s;
  animation-fill-mode: forwards;
}

@keyframes slideout {
  100% {
    transform: translateX(8vw);
  }
}

.indice-arrow {
  font-weight: 800;
}

.button-exit {
  top: 2vw;
  right: 2vw;
  background-image: url(ui/exit.svg);
  display: none;
}

.button-missions {
  top: 2vw;
  right: 2vw;
  background-image: url(ui/missions.svg);
}

.prev-next-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.prev-next-buttons button {
  font-size: 5vw;
  margin: 10px;
  color: white;
  background-color: black;
  border: 0;
  cursor: pointer;
}

.prev-next-buttons button:disabled {
  color: #323232;
}

.screen-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("earth4.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  /* align-content: center; */
}

.container {
  width: 90vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.enigme-number {
  position: absolute;
  top: 2vw;
  right: 2vw;
  margin: 10px;
  width: 3vw;
  height: 3vw;
  min-width: 40px;
  min-height: 40px;
  /* padding: 10px; */
  border-radius: 50%;
  color: black;
  background-color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enigme-container {
  justify-content: top;
}

h2 {
  padding-bottom: 1vw;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
}

h2 img {
  width: 100% !important;
  height: auto !important;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.transition-graph {
  background-color: black;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
}

.intro {
  z-index: 1;
  background-color: black;
}

.intro canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

.full-screen {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* .alert-screen {
  animation: red-alert 1s infinite;
}

@keyframes red-alert {
  0% {
    background-color: black;
  }

  50% {
    background-color: red;
  }

  100% {
    background-color: black;
  }
} */

.board {
  display: flex;
  justify-content: center;
}

.ia-graph {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.speech {
  /* margin: 10vw; */
  /* background-color: black; */
  color: white;
  font-weight: 200;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 20px #fff,
    0px 0px 30px #fff, 0px 0px 40px #fff, 0px 0px 50px #fff, 0px 0px 60px #fff;
  /* text-shadow: 1px 0px 2px #fff; */
  cursor: pointer;
}

.speech img {
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 30px;
  margin: 10px;
  position: relative;
  top: 20px;

}

.ia-speech {
  top: 40%;
  position: absolute;
  width: 80vw;
}

.enigme-speech {
  margin: 10vh;
  /* margin-top: 30vh; */
}

.alert-speech {
  display: flex;
  /* width: 80vw; */
  /* width: 80vw; */
  background-image: url(ui/alert.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* 
.alert-text {
  top: 30%;
  position: absolute;
  animation: blinker 1s linear infinite;
  height: 5vw;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.alert-picto {
  top: 30%;
  position: absolute;
  /* width: 5vw;
  height: 5vw;
  min-width: 50px;
  min-height: 50px;
  background-color: white;
  box-shadow: 0px 0px 2vw white, 0px 0px 4vw white, 0px 0px 6vw white;
  background-size: cover;
  border-radius: 50%; */
  margin: 10px;
  opacity: 0;
  /* font-weight: 400; */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  animation: blinker2 1s linear infinite;
  display: none;
}

.picto-text {
  font-size: 40px;
}

.alert-speech {
  top: 30%;
  position: absolute;
  display: none;
}

.blink-speech {
  animation: blinker 1s linear infinite;
  /* margin: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 2vw red, 0px 0px 4vw red, 0px 0px 6vw red; */
}

.blink-picto {
  animation: blinker2 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker2 {
  50% {
    opacity: 100;
  }
}

.share-speech {
  display: none;
}

#loading {
  position: absolute;
  bottom: 10%;
  /* margin: -30px auto; */
  text-align: center;
  color: #323232;
  font-family: Consolas, Courier, monospace;
  font-size: 15vw;
  text-shadow: 0 0 5vw #323232;
  /* height: 100%; */
}

#loading .glow {
  color: white;
  text-shadow: 0px 0px 2vw white, 0px 0px 4vw white, 0px 0px 6vw white;
}

#loading span {
  padding: 0 2vw;
}

.loading-speech {
  top: 10%;
  position: absolute;
  width: 80vw;
}

.loading-title {
  font-family: Consolas, Courier, monospace;
  font-size: 30px;
  margin: 50px;
}

.progress-zone {
  position: absolute;
  bottom: 2vw;
  left: 2vw;
  width: 95%;
  background-color: black;
}

.bar-container {
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.full-screen-bar {
  /* height: 100vw; */
  width: 100vh;

  transform: rotate(-90deg);
  position: absolute;
  left: 0;
  bottom: 0;
}

.progress-bar {
  height: 1px;
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: #646464;
}

.full-screen-bar .progress-bar {
  background-color: black;
  height: 100px;
}

/* #winProgress {
  height: 100%;
  width: 80%;
} */

/* #timeProgress {
  height: 100%;
  width: 80%;
} */

.progress {
  position: relative;
  height: 100%;
  background-color: white;
  transition: width 0.5s ease-out;
  border-radius: 0px 2px 2px 0px;
  animation: fill-progress 0.5s ease-out 0s;
  animation-fill-mode: forwards;
}

@keyframes fill-progress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.progress .glow {
  width: 60px;
  max-width: 100%;
  height: 100%;
  float: right;
}

.progress .glow::before,
.progress .glow::after {
  content: "";
  display: block;
  position: relative;
  border-radius: 0px 2px 2px 0px;
}

.progress .glow::before {
  background: transparent;
  height: 100%;
  box-shadow: 0px 0px 2px white, 0px 0px 4px white, 0px 0px 6px white,
    0px 0px 8px white, 0px 0px 10px white, 0px 0px 10px #04bfff;
  z-index: -5;
}

.progress .glow::after {
  background: linear-gradient(to right, black 0%, transparent 100%);
  height: calc(100% + 10px + 10px);
  width: calc(100% + 10px);
  top: -10px;
  left: -10px;
  z-index: -3;
}

.label {
  font-weight: 400;
  text-align: left;
  width: 150px !important;
  animation: label 0.5s ease-out 0s;
  animation-fill-mode: forwards;
  opacity: 0;
  color: white;
  color: #646464;
  margin: 10px;
}

.missions .container {
  justify-content: center;
}

.mission-viewer {
  cursor: pointer;
  /* border-bottom: 1px solid white; */
  margin-bottom: 10px;
}

.win-mission {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: 800;
  color: black;
  background-color: white;
}

.missionDisplay {
  display: none;
}

.mission-icon {
  background-color: white;
  border-radius: 50%;
  margin: 10px;
  padding: 5px;
}

.mission-list {
  display: flex;
  justify-content: center;
  margin: 0;
}

.mission-list:last-child {
  border: 0;
}

.mission-list li {
  margin: 10px;
}

/* .enigme-failed-bullet {
  list-style-type: disc;
  color: red;
} */

#enigmeCollection {
  display: none;
}

@keyframes label {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}

.game-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-zone {
  /* width: 70%; */
  /* min-width: 300px; */
  /* min-height: 600px; */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}

.zone-e1 {
  background-image: url(imgGame/martin-pecheur.jpg);
}

.img-title {
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-e0 {
  background-image: url(imgGame/biomimetisme.jpg);
}

.title-e1 {
  background-image: url(imgGame/martin-pecheur.jpg);
}

.title-e2 {
  background-image: url(imgGame/cars.jpg);
}

.title-e3 {
  background-image: url(imgGame/microlatisse.png);
}

.title-e4 {
  background-image: url(imgGame/labyrinthe.jpg);
}

.title-e5 {
  background-image: url(imgGame/tigre.jpg);
}

.title-e6 {
  background-image: url(imgGame/chouette.png);
}

.title-e7 {
  background-image: url(imgGame/libellule.jpg);
}

.title-e8 {
  background-image: url(imgGame/baleine.jpg);
}

.title-e9 {
  background-image: url(imgGame/biolum.jpg);
}

.title-e10 {
  background-image: url(imgGame/tournesol.jpg);
}

.title-e11 {
  background-image: url(imgGame/h2o.jpg);
}

.title-e12 {
  background-image: url(imgGame/microalgues.jpg);
}

.title-e14 {
  background-image: url(imgGame/eastgate.jpg);
}

.title-e15 {
  background-image: url(imgGame/araignee.jpg);
}

.title-e16 {
  background-image: url(imgGame/bruit.jpg);
}

.title-e17 {
  background-image: url(imgGame/mycellium.jpg);
}

.title-e18 {
  background-image: url(imgGame/aquaporines.jpg);
}

.img100 {
  width: 100%;
  height: auto;
}

.click-line {
  display: flex;
  justify-content: center;
}

.click-zone {
  width: 40vw;
  height: 40vw;
  max-width: 250px;
  max-height: 250px;
  cursor: pointer;
  background-color: black;
  opacity: 0.1;
  margin: 2px;
}

.end-game {
  flex-direction: column;
  align-items: center;
}

.win-rate {
  font-size: 100px;
  display: flex;
  margin: 20px;
}

@media screen and (max-width: 1280px) {
  .container {
    justify-content: unset;
    position: relative;
    top: 12vh;
    font-size: smaller;
  }

  .prev-next-buttons button {
    font-size: 30px;
  }

  @keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0vw white;
    }

    100% {
      box-shadow: 0 0 0 20px rgba(255, 100, 100, 0);
    }
  }

  .win-rate {
    font-size: 20vw;
  }
}

@media screen and (max-width: 700px) {
  .img-title {
    height: 200px;
  }

  .missions .container {
    justify-content: flex-start;
  }

  @keyframes slideout {
    100% {
      transform: translateX(60px);
    }
  }
}